"C:\Users\samue\OneDrive\Documents\GitHub\captain_planet_sammy\captain-planet\data\raw\DATOS-PAOT\rptDatosAbiertos.csv"
rptDatosAbiertos.csv
rptDatosAbiertos
data
datos_clean.csv

C:\Users\samue\OneDrive\Documents\GitHub\captain_planet_sammy\captain-planet\data\raw\ri_11.dbf
ri_11.dbf
.ipynb_checkpoints/
